.web-container {

  padding: .75rem;

  background-color: var(--fill-color);
  color: var(--neutral-foreground-rest);

}


fluent-card {
  padding: 16px;
  display: flex;
  flex-direction: column;

}

p {
  font-size: initial;
}

h3,
h4 {
  margin-top: 1rem;
  margin-bottom: .5rem;
}

fluent-card>fluent-button {
  align-self: flex-end;
}

fluent-tree-view {
  width: 100%;
}

fluent-tab {
  font-weight: 700;
}

fluent-divider {
  margin: 1rem 0;
}

.secretkey-body{
 display: flex;
 flex-direction: row;
 gap: 1rem;
}

.ws-connection-bar {
  --color1: white;
  --stripe-size: 1rem;
  flex-grow: 1;
  margin: 0 1rem;
  border-radius: .5rem;
  height: 2rem;
  background-color: var(--accent-fill-rest);
  background-size: 2.82843rem;
  background-image: repeating-linear-gradient(45deg, transparent, 
                                                     transparent 1rem, 
                                                     var(--color1) 1rem, 
                                                     var(--color1) 2rem);
  animation: slide 2s linear infinite;



}

@keyframes slide {
  0% {
    background-position-x: 0px;
    
  }
  
  100% {
    background-position-x: 2.82843rem;
  }
}
.splitbutton-container{
  display: inline-flex;
  align-items: center;
  height: 2rem;
    width: 1.5rem;
}



.splitbutton-checkbox{
  display: none;
  border-radius: calc(var(--control-corner-radius) * 1px) 0px 0px calc(var(--control-corner-radius) * 1px);
                                                               
}

span.splitbutton-icon{
  
}

.peer-status-body{

    flex-direction: row;
    align-items: center;   
    /* border: 1px solid #dadce0; */
    border-radius: 2rem;
    display: inline-flex;
    height: 2rem;
    margin: auto;
    outline: none;
    padding: 0 1rem;
    text-align: center;
   
    background: var(--neutral-fill-focus);
    color: var(--neutral-foreground-rest);
    border: calc(var(--stroke-width) * 1.4px) solid var(--neutral-stroke-layer-rest);
    
    /* box-shadow: var(--elevation-shadow-card-rest); */

}
.peer-status-body>*{
  font-size: .75rem;
}

.select-query-body {
  flex-grow: 1;
  padding: 0.5rem;
  background: var(--neutral-layer-2);
  border-radius: 0.5rem;
  
  position: relative;

}

.select-query-body>div {
  max-height: 24rem;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.select-query-body>div>p {
  margin: 0;
  margin-bottom: 2rem;
  font-family: monospace !important;
  font-size: 1rem;
  overflow-wrap: anywhere;

}

/* select query command tree view */
.sq-command-view {

  max-height: 18rem;

  overflow-y: auto;

  margin-bottom: 0.25rem;
  /*for aesthetics to maintain the gab btw body and this*/
}

.sq-command-view>fluent-tree-item {
  margin-bottom: 0.125rem;
}

.select-query-buttons {
  position: absolute;
  bottom: .5rem;
  right: .5rem;

}
span.message-status-body{
  font-family: monospace;
}

span.message-icon-status{
  color: var(--neutral-foreground-rest);
  vertical-align: bottom;
  font-size: .75rem;
  padding: 0 4px;
  
  /* background: #ffdada; */
  border-radius: 16px;
  /* box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1); */
  /* backdrop-filter: blur(10px); */
}

span.message-icon-color-self{
  background: hsl(0deg 0.86% 76.42% / 45%);
  
}
span.message-icon-color-req{
  background: hsla(40,60%,60%,0.6);
  
}
span.message-icon-color-res{
  background: hsl(134.69deg 76.59% 53.94% / 48%);
}
span.message-icon-color-srvr{
  background:hsla(342,100%,62%,0.62);
}


.list-peer-p-head{
  font-size: 14px; 
  font-family: 
  monospace; font-weight: bold; 
  margin: 0 0 .5rem 0; 
}
.list-peer-body{
display: flex; 
                                flex-direction: row; 
                                column-gap: 1rem; 
                                
}
.list-peer-peerlist{
  flex-grow: 1; 
  border: 1px solid var(--neutral-stroke-active);
  padding: 0.5rem;
  border-radius: calc(var(--control-corner-radius) * 1px);
}