<div class="web-container">
    <div style="display: flex; flex-direction: row; ">
        <h1>WebMasterUI</h1>

        <div style="align-self: flex-end; margin-left: auto; margin-bottom: 0.5rem;">
            <fluent-switch style="display: inline;" labelPosition="above" id="dark-mode-toggle">Dark
                Mode</fluent-switch>

        </div>

    </div>
    <p>Console to push and execute built, prebuilt Commands from Web. </p>

    <h3 style="margin-bottom: .5rem;">WebSocket Panel</h3>
    <fluent-card>
        <h3 style="font-weight: 600;">Select websocket:</h3>
        <fluent-combobox id="websocket-host-selector" (ngModal)="onWSUrlChange($event)" placeholder="Select">
            <fluent-option *ngFor='let wsl of this.webSocketList | keyvalue'
                [attr.selected]="wsl.value">{{wsl.key}}</fluent-option>

        </fluent-combobox>

        <fluent-combobox id="websocket-client-selector" style="margin-top: 1rem;" (change)="onWSClientChange($event)">
            <fluent-option selected>webmaster</fluent-option>

        </fluent-combobox>
        <h4 style="font-weight: 600;">Secret Channel:</h4>
        <fluent-combobox id="websocket-channel-selector" (change)="onWSChannelChange($event)">
            <fluent-option selected>my-secret-channel</fluent-option>

        </fluent-combobox>
        <h4 style="font-weight: 600;">Secret Key:</h4>
        <div class="secretkey-body">

            <fluent-text-field id="websocket-secretkey" appearance="outline" placeholder="Password" type="password"
                value="password" style="flex-grow: 1;">
            </fluent-text-field>
            <fluent-button id="websocket-secretkey-toggle" appearance="accent" color="red"
                (click)="onWSSecretKeyToggle()">
                <svg *ngIf='this.wsSecretKey.type!=="text"' xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" viewBox="0 0 16 16">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"></path>
                    <path
                        d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z">
                    </path>
                </svg>

                <svg *ngIf='this.wsSecretKey.type==="text"' xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                    <path
                        d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z">
                    </path>
                    <path
                        d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12-.708.708z">
                    </path>
                </svg>

            </fluent-button>
            <div>
                <fluent-button appearance="accent" (click)="SaveSecretKey()">Save</fluent-button>

                <!-- TO ADD a DROP MENU (TO BE DONE LATER)<label class="splitbutton-container">
                        <input type="checkbox" class="splitbutton-checkbox">
                        <span class="splitbutton-icon">
                          <svg fill="currentColor" class="checkbox-icon" aria-hidden="true" width="12px" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.85 7.65c.2.2.2.5 0 .7l-5.46 5.49a.55.55 0 0 1-.78 0L4.15 8.35a.5.5 0 1 1 .7-.7L10 12.8l5.15-5.16c.2-.2.5-.2.7 0Z" fill="currentColor"></path>
                          </svg>
                        </span>
                        
                    </label> -->
                <!-- <fluent-menu>
                        <fluent-menu-item>Menu item 1</fluent-menu-item>
                        <fluent-menu-item>Menu item 2
                        <fluent-menu>
                            <fluent-menu-item>Nested Menu item 2.1</fluent-menu-item>
                            <fluent-menu-item>Nested Menu item 2.2</fluent-menu-item>
                            <fluent-menu-item>Nested Menu item 2.3</fluent-menu-item>
                        </fluent-menu>
                        </fluent-menu-item>
                        <fluent-menu-item disabled="true">Menu item 3</fluent-menu-item>
                        <fluent-menu-item>
                        Menu item 4
                        <div slot="end">Shortcut text</div>
                        </fluent-menu-item>
                    </fluent-menu> -->
            </div>



        </div>


        <h3 style="font-weight: 600;">Options</h3>
        <div style="display: flex; flex-direction: row; justify-content: space-between; margin-bottom: 1rem;;">
            <div style="display: flex; flex-direction: row; align-items: center;">
                <span>Status :</span>

                <svg [style.color]="wsIconState" style="margin-left: .5rem;" width="2rem" height="2rem"
                    viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
                    <path fill="currentColor"
                        d="M5 10A5 5 0 1 0 5 0a5 5 0 0 0 0 10Zm2.1-5.9L4.85 6.35a.5.5 0 0 1-.7 0l-1-1a.5.5 0 0 1 .7-.7l.65.64 1.9-1.9a.5.5 0 0 1 .7.71Z">
                    </path>
                </svg>

            </div>



            <div *ngIf="this.ws?.readyState === 0" class="ws-connection-bar"></div>
            <fluent-button id="connect-button" appearance="accent" (click)="socketConnect()"
                disabled="{{this.ws?.readyState === 0 || this.ws?.readyState === 2}}">

            </fluent-button>

        </div>
        <div style="align-self: flex-end; margin-left: auto; margin-bottom: 0.5rem;">
            <fluent-switch id="auto-reconnect-toggle">Auto Reconnect</fluent-switch>
        </div>

        <div class="divider" style="margin: .5rem 0;"></div>
        <div class="peer-status-body">
            <div
                style=" background-color: hsl(147 160% 66% / 1); width: .75rem; aspect-ratio: 1; border-radius: .75rem;">
            </div>
            <div><span style="padding-left: .8rem; opacity: 50%; font-style: italic;">Peer :
                </span><span>slaveCommander</span>
                <span style="padding-left: .8rem; opacity: 50%; font-style: italic;">Last Health :
                </span><span>11:10PM</span>
            </div>
        </div>

        <fluent-tabs activeid="entrees">
            <fluent-tab id="select-query" (click)="this.sqUnAttndCount = 0">
                <span>
                <fluent-badge *ngIf="this.sqUnAttndCount > 0" appearance="accent">{{this.sqUnAttndCount}}</fluent-badge>
                Select Query
                </span>
            </fluent-tab>
            <fluent-tab id="create-query">Create Query</fluent-tab>
            <fluent-tab id="list-peer-tab">List Peers</fluent-tab>

            <fluent-tab-panel id="select-query">
                <fluent-card>
                    <div style="display: flex; flex-direction: row; gap: 1rem;">

                        <div style="width: 30%;">
                            <p style="font-size: .8rem; font-weight: 700;">Select command to Launch</p>
                            <fluent-tree-view class="sq-command-view">
                                <fluent-tree-item selected>Daisy</fluent-tree-item>
                                <fluent-tree-item>Sunflower</fluent-tree-item>
                                <fluent-tree-item>Rose</fluent-tree-item>

                                <fluent-tree-item>Petunia</fluent-tree-item>
                                <fluent-tree-item>Tulip</fluent-tree-item>
                                <fluent-tree-item>Sunflower</fluent-tree-item>

                                <fluent-tree-item>Rose</fluent-tree-item>
                                <fluent-tree-item>Petunia</fluent-tree-item>
                                <fluent-tree-item>Tulip</fluent-tree-item>

                            </fluent-tree-view>
                        </div>


                        <div class="select-query-body">
                            <div id="sq-body-text-container">
                                <p id="sq-body-text">

                                    <span *ngFor="let t of this.sqtbody" class="message-status-body"
                                        [style.color]="t.textColor">
                                        <span class="message-icon-status message-icon-color-{{t.cssSuffix}}">{{
                                            t.iconType }}</span>
                                        {{t.text}}
                                        <br>
                                    </span>
                                </p>
                            </div>
                            <div class="select-query-buttons">
                                <fluent-button appearance="accent" (click)="sendWSMessage()">Launch</fluent-button>

                            </div>
                        </div>
                    </div>


                </fluent-card>
            </fluent-tab-panel>
            <fluent-tab-panel id="create-query">
                <fluent-card>
                    Create Query



                </fluent-card>
            </fluent-tab-panel>

            <fluent-tab-panel id="list-peer-tab">


                <fluent-card>
                    <p  class="list-peer-p-head">Peer List :: {{this.peerList.length}}</p>
                    <div class="list-peer-body">
                        
                        <div class="list-peer-peerlist">
                            
                                
                            <fluent-tree-view  >
                                <fluent-tree-item *ngFor="let p of this.peerList" [attr.selected]="this.peerList.indexOf(p) == 0">{{p}}</fluent-tree-item>
                                
                            </fluent-tree-view>
                        </div>
                            
                        <div style="flex: 0 1;">
                            <fluent-button appearance="accent" (click)="this.loadPeers()" style="width: 100%; margin-bottom: 1rem;">Refresh</fluent-button>
                            <fluent-button appearance="accent" >Connect</fluent-button>

                        </div>
                        
                    </div>
                    

                </fluent-card>












            </fluent-tab-panel>

        </fluent-tabs>
        <fluent-divider></fluent-divider>
        <!-- <fluent-card>
            <h2>Hello</h2>
            <fluent-text-field [(ngModel)]="exampleTextField" name="exampleTextField" ngDefaultControl
                placeholder="Enter Some Text"></fluent-text-field>
            <fluent-button appearance="accent" (click)="onClick()">Click Me</fluent-button>
        </fluent-card> -->

    </fluent-card>
</div>


<!-- 
<div class="web-container">
   
        <div class="header">
          <h2>Custom accent color</h2>
        </div>
        <div class="controls">
          <fluent-anchor appearance="accent">Anchor</fluent-anchor>
          <fluent-button appearance="accent">Button</fluent-button>
          <fluent-badge appearance="accent">Badge</fluent-badge>
          <fluent-breadcrumb id="breadcrumb">
            <fluent-breadcrumb-item href="#">Foo</fluent-breadcrumb-item>
            <fluent-breadcrumb-item href="#">Bar</fluent-breadcrumb-item>
            <fluent-breadcrumb-item>Current</fluent-breadcrumb-item>
          </fluent-breadcrumb>
          <fluent-combobox>
            <fluent-option>Extra Small</fluent-option>
            <fluent-option>Small</fluent-option>
            <fluent-option selected>Medium</fluent-option>
            <fluent-option>Large</fluent-option>
            <fluent-option>Extra Large</fluent-option>
          </fluent-combobox>
          <fluent-switch checked id="toggle">Checked</fluent-switch>
          <fluent-tree-view>
            <fluent-tree-item selected>Daisy</fluent-tree-item>
            <fluent-tree-item>Sunflower</fluent-tree-item>
            <fluent-tree-item>Rose</fluent-tree-item>
            <fluent-divider></fluent-divider>
            <fluent-tree-item>Petunia</fluent-tree-item>
            <fluent-tree-item>Tulip</fluent-tree-item>
          </fluent-tree-view>
        </div>
     
</div> -->
<!-- 
<fluent-switch id="switch01">
    <span slot="checked-message">On</span>
    <span slot="unchecked-message">Off</span>
    <label for="cap-switch">Captions:</label>
</fluent-switch>

<fluent-select title="Select a section">
    <fluent-option value="1">Beginning</fluent-option>
    <fluent-option value="2">Middle</fluent-option>
    <fluent-option value="3">End</fluent-option>
</fluent-select>

<fluent-card>
    <label for="cap-switch">Captions:</label>
    
        <fluent-slider min="0" max="100" value="50" step="5" style="max-width: 300px;" title="Set the temperature">
            <fluent-slider-label>
                0&#8451;
            </fluent-slider-label>
            <fluent-slider-label position="25">
                25&#8451;
            </fluent-slider-label>
            <fluent-slider-label position="50">
                50&#8451;
            </fluent-slider-label>
            <fluent-slider-label position="75">
                75&#8451;
            </fluent-slider-label>
            <fluent-slider-label position="100">
                100&#8451;
            </fluent-slider-label>
        </fluent-slider>
    
</fluent-card> -->